#!/usr/bin/make -f
DEBUG_SUPPORT=0
EXTRA_FLAGS=

ifeq (arm,$(DEB_HOST_ARCH_CPU))
DEBUG_SUPPORT=1
endif

ifeq (amd64,$(DEB_HOST_ARCH_CPU))
DEBUG_SUPPORT=1
endif

ifeq (i386,$(DEB_HOST_ARCH_CPU))
DEBUG_SUPPORT=1
endif

ifeq (0,$(DEBUG_SUPPORT))
EXTRA_FLAGS+=--without-debugger
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- ${EXTRA_FLAGS}

override_dh_auto_clean:
	-dh_auto_clean
